<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- Body -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/aboutme.png" alt="About Me" class="img-fluid" title="WebWizard">
                        </figure> 
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>About Me</p>
                        <h1>I am <span class="text_color"> A MERN Stack Developer.</span> </h1>
                        <a href="https://techtobees.blogspot.com/" target="_blank"><button>My Blog</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

</body>

</html>